<style lang="scss" scoped>
  form {
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
</style>

<script>
    export default {
        name: 'GameIndex',
        data() {
            return {
                manage: {
                    game: {
                        index: {
                            requesting: false,
                            games: [],
                        },
                        store: {
                            requesting: false,
                            form: false,
                            model: {},
                            errors: {},
                        },
                        phase: {
                            store: {
                                requesting: false,
                                form: false,
                                model: {},
                                errors: {},
                            },
                        },
                    },
                },
            };
        },
        methods: {
            index() {
                this.$http.get('game', {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.manage.game.index.requesting = true; // Requisição em andamento ...
                        return data;
                    })
                }).then((response) => {
                    this.manage.game.index.games = response.data ? (response.data.data ? response.data.data : {}) : {};
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro, não consigo exibir os jogos',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.index.requesting = false;
                });
            },
            store() {
                this.$http.post('game', this.manage.game.store.model, {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.manage.game.store.requesting = true; // Requisição em andamento ...
                        return data;
                    })
                }).then((response) => {
                    const game = response.data ? (response.data ? response.data.data : {}) : {};
                    this.manage.game.store.model = {}; // Limpa o dados dos inputs do formulário.
                    this.$set(this.manage.game.index.games, game.id, game);
                    this.$toast.open({
                        message: 'Jogo adicionado com sucesso ...',
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.manage.game.store.errors = e.response ? (e.response.data ? e.response.data.errors : {}) : {};
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro ao salvar o jogo.',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.store.requesting = false;
                });
            },
        },
        mounted() {
            this.index();
        },
    };
</script>

<template>
  <!-- Begin tiles -->
  <div class="container pt-5 pb-5">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-3 is-white">
        <article class="tile is-child notification is-white">
          <h1 class="title">{{_.size(manage.game.index.games)}}</h1>
          <div class="buttons">
            <button class="button is-success" v-if="!manage.game.store.form" @click="manage.game.store.form=true">
              <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
              <span class="ml-3">jogo</span>
            </button>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Jogos(s)</p>
          <p class="subtitle">Todos os jogos</p>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <transition name="slide">
          <div class="tile" v-if="manage.game.store.form">
            <div class="tile is-parent">
              <article class="tile is-child notification is-success p-4">
                <p class="title">Novo jogo</p>
                <div class="content">
                  <form v-show="manage.game.store.form" v-on:submit.prevent="store">
                    <!-- Title -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-large" type="text" placeholder="Título do jogo"
                               v-model="manage.game.store.model.title"
                               v-bind:disabled="manage.game.store.requesting">
                      </div>
                    </div>
                    <!-- Description -->
                    <textarea class="textarea" placeholder="Descrição do jogo"
                              v-model="manage.game.store.model.description"
                              v-bind:disabled="manage.game.store.requesting"></textarea>
                    <!-- Actions -->
                    <div class="buttons mt-4" v-show="!manage.game.store.requesting">
                      <button type="button" class="button" @click="manage.game.store.form=false">
                        Ops! Quero cancelar
                      </button>
                      <button type="submit" class="button is-info">Ok! Pode salvar</button>
                    </div>
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.game.store.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </article>
            </div>
          </div>
        </transition>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <p class="title"></p>
              <p class="subtitle"></p>
              <div class="content">
                <div class="row">
                  <div class="col-12">
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.game.index.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6"
                       v-for="game in _.orderBy(manage.game.index.games, 'id', 'desc')" v-bind:key="game.id">
                    <div>
                      <router-link v-bind:to="{name: 'game.show', params: { game: game.id } }">
                        <h3 class="title is-3 d-inline-block">
                          #{{game.id}} {{game.title}}
                          <b-icon icon="arrow-right"></b-icon>
                        </h3>
                      </router-link>
                    </div>
                    <div class="mb-5">{{game.description}}</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="content">
            <p class="title">Ajuda</p>
            <p class="subtitle">O que é um jogo?</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at
                pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
                maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
              <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor
                consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a
                nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- End tiles -->
</template>
