<style lang="scss" scoped>
  .game {
    &-edit {
      animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &-phases {
      list-style-type: decimal;

      &-create {
        &-form {
          animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
      }

      &-phase {
        margin-bottom: 10px;

        &-title {
          transition: border-left-color 0.2s;

          &:hover {
            border-left-color: green !important;
          }
        }
      }
    }

    &-medals {
      &-search {
        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        &-medals {
          &-medal {
            &-title {
              cursor: pointer;
            }
          }
        }
      }

      &-medal {
        &-image {
          cursor: pointer;
        }
      }
    }

    &-players {
      list-style-type: decimal;

      &-player {
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }
</style>

<script>
    import BIcon from 'buefy/src/components/icon/Icon';

    export default {
        name: 'GameShow',
        components: {BIcon},
        data() {
            return {
                manage: {
                    game: {
                        show: {
                            requesting: false,
                            game: {
                                players: [],
                                medals: [],
                                phases: [],
                            },
                        },
                        update: {
                            requesting: false,
                            form: false,
                            model: {},
                            errors: {},
                        },
                        destroy: {
                            requesting: false,
                        },
                        phase: {
                            store: {
                                requesting: false,
                                form: false,
                                model: {
                                    f: '',
                                    t: ''
                                },
                                errors: {},
                            },
                        },
                    },
                },
                search: {
                    medals: {
                        requesting: false,
                        form: false,
                        value: '',
                        found: [],
                        store: {
                            requesting: false,
                        },
                        destroy: {
                            requesting: false,
                        },
                    },
                    players: {
                        requesting: false,
                        form: false,
                        value: '',
                        found: [],
                        store: {
                            requesting: false,
                        },
                        destroy: {
                            requesting: false,
                        },
                    },
                },
            };
        },
        methods: {
            show(game) {
                this.$http.get(`game/${game}`, {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.manage.game.show.requesting = true;
                        return data;
                    })
                }).then((response) => {
                    this.manage.game.show.game = response.data ? (response.data.data ? response.data.data : {}) : {};
                    // Clone Deep evita que o objeto seja somente uma referência.
                    this.manage.game.update.model = _.cloneDeep(this.manage.game.show.game);
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro, não consigo exibir detalhes do jogo',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.show.requesting = false;
                });
            },
            update(game) {
                this.manage.game.update.requesting = true; // Exibe a animação loader.
                this.$http.put(`game/${game.id}`, this.manage.game.update.model).then((response) => {
                    this.manage.game.show.game = response.data ? (response.data.data ? response.data.data : {}) : {};
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro, não consigo atualizar o jogo',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.update.requesting = false; // Esconde a animação loader.
                });
            },
            remove(game) {
                this.$snackbar.open({
                    duration: 5000,
                    message: `Deseja remover o jogo ${game.title}`,
                    type: 'is-danger',
                    position: 'is-top',
                    actionText: 'Sim! Quero remover',
                    queue: false,
                    onAction: () => {
                        this.destroy(game)
                    },
                });
            },
            destroy(game) {
                const {title} = game;
                this.$http.delete(`game/${game.id}`, {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.manage.game.destroy.requesting = true; // Requisição em andamento ...
                        return data;
                    }),
                }).then((response) => {
                    this.$router.push({name: 'game.index'});
                    this.$toast.open({
                        message: `Tudo certo! ${title} foi removido(a) ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao remover ${title}`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.destroy.requesting = false;
                });
            },
            phaseStore(game) {
                // Converte o formato de data de d/m/Y h:i para Y-m-d h:i, antes de enviar ao servidor.
                this.manage.game.phase.store.model.from = this.manage.game.phase.store.model.f.replace(/(\d{2})\/(\d{2})\/(\d{4}) (\d{2}):(\d{2})/, "$3-$2-$1 $4:$5:00");
                this.manage.game.phase.store.model.to = this.manage.game.phase.store.model.t.replace(/(\d{2})\/(\d{2})\/(\d{4}) (\d{2}):(\d{2})/, "$3-$2-$1 $4:$5:00");
                this.$http.post(`game/${game.id}/phase`, this.manage.game.phase.store.model, {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.manage.game.phase.store.requesting = true;
                        return data;
                    })
                }).then((response) => {
                    const phase = response.data ? (response.data.data ? response.data.data : {}) : {};
                    this.manage.game.phase.store.model = {}; // Limpa o dados dos inputs do formulário.
                    this.$set(this.manage.game.show.game.phases, phase.id, phase);
                    this.$toast.open({
                        message: 'A fase adicionada com sucesso ao jogo ...',
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro, não consigo adicionar fase ao jogo',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.game.phase.store.requesting = false;
                });
            },
            /* Search and Store */
            /* Medal */
            medalSearch() {
                // Evita que a uma nova requisição seja feita enquanto aguarda a resposta
                if (this.search.medals.requesting) {
                    return;
                }
                // Verifica se há dados para pesquisa
                if (!this.search.medals.value.length) {
                    this.$toast.open({
                        duration: 1500,
                        message: 'Hey! Digite primeiro ...',
                        position: 'is-bottom',
                        type: 'is-info',
                        queue: false,
                    });
                    return;
                }
                this.search.medals.requesting = true;
                this.$http.get(`medal/search/${this.search.medals.value}`)
                    .then((response) => {
                        this.search.medals.found = response.data ? (response.data.data ? response.data.data : []) : [];
                        if (!_.size(this.search.medals.found)) {
                            this.$toast.open({
                                duration: 5000,
                                message: 'Ops! Não encontrei nada, tente novamente ...',
                                position: 'is-bottom',
                                type: 'is-info',
                            });
                        }
                    })
                    .catch((error) => {
                        this.$toast.open({
                            duration: 5000,
                            message: 'Ops! Ocorreu um erro, tente novamente ...',
                            position: 'is-bottom',
                            type: 'is-info',
                        });
                    })
                    .finally(() => {
                        this.search.medals.requesting = false;
                    });
            },
            medalStore(game, medal) {
                this.search.medals.store.requesting = true;
                this.$http.post(`game/${game.id}/medal`, medal).then((response) => {
                    const medal = response.data ? (response.data.data ? response.data.data : {}) : {};
                    this.$set(this.manage.game.show.game.medals, medal.id, medal);
                    this.$toast.open({
                        message: `Tudo certo! ${medal.title} foi adicionado(a) ao jogo ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao adicionar ${medal.title} ao jogo`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.search.medals.store.requesting = false;
                });
            },
            medalRemove(game, medal) {
                this.$snackbar.open({
                    duration: 5000,
                    message: `Deseja remover ${medal.title} do jogo?`,
                    type: 'is-danger',
                    position: 'is-top',
                    actionText: 'Sim! Quero remover',
                    queue: false,
                    onAction: () => {
                        this.medalDestroy(game, medal);
                    },
                });
            },
            medalDestroy(game, medal) {
                const {title} = medal; // Evita erro de referência
                this.search.medals.destroy.requesting = true;
                this.$set(this.manage.game.show.game.medals[medal.id], 'destroying', this.search.medals.destroy.requesting);
                this.$http.delete(`game/${game.id}/medal/${medal.id}`).then((response) => {
                    this.$delete(this.manage.game.show.game.medals, medal.id);
                    this.$toast.open({
                        message: `Tudo certo! ${title} foi removido(a) do jogo ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao remover ${medal.title} do jogo`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.search.medals.destroy.requesting = false;
                    if (_.has(this.manage.game.show.game.medals, `${medal.id}.destroying`)) {
                        this.$delete(this.manage.game.show.game.medals[medal.id], 'destroying');
                    }
                });
            },
            /* Player */
            playerSearch() {
                // Evita que a uma nova requisição seja feita enquanto aguarda a resposta
                if (this.search.players.requesting) {
                    return;
                }
                // Verifica se há dados para pesquisa
                if (!this.search.players.value.length) {
                    this.$toast.open({
                        duration: 1500,
                        message: 'Hey! Digite primeiro ...',
                        position: 'is-bottom',
                        type: 'is-info',
                        queue: false,
                    });
                    return;
                }
                this.$http.get(`user/player/search/${this.search.players.value}`, {
                    transformRequest: [
                        (data, headers) => {
                            this.search.players.requesting = true; // Requisição em andamento ...
                            return data;
                        },
                    ],
                }).then((response) => {
                    this.search.players.found = response.data ? (response.data.data ? response.data.data : []) : [];
                    if (!_.size(this.search.players.found)) {
                        this.$toast.open({
                            duration: 5000,
                            message: 'Ops! Não encontrei nada, tente novamente ...',
                            position: 'is-bottom',
                            type: 'is-info',
                        });
                    }
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Ocorreu um erro, tente novamente ...',
                        position: 'is-bottom',
                        type: 'is-info',
                    });
                }).finally(() => {
                    this.search.players.requesting = false;
                });
            },
            playerStore(game, player) {
                this.$http.post(`game/${game.id}/player`, player, {
                    transformRequest: [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                        this.search.players.store.requesting = true;
                        return data;
                    }),
                }).then((response) => {
                    const player = response.data ? (response.data.data ? response.data.data : {}) : {};
                    this.$set(this.manage.game.show.game.players, player.id, player);
                    this.$toast.open({
                        message: `Tudo certo! ${player.name} foi adicionado(a) ao jogo ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    console.log(e);
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao adicionar ${player.name} ao jogo`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.search.players.store.requesting = false;
                });
            },
            playerRemove(game, player) {
                this.$snackbar.open({
                    duration: 5000,
                    message: `Deseja remover ${player.name} do jogo?`,
                    type: 'is-danger',
                    position: 'is-top',
                    actionText: 'Sim! Quero remover',
                    queue: false,
                    onAction: () => {
                        this.playerDestroy(game, player);
                    },
                });
            },
            playerDestroy(game, player) {
                const {name} = player; // Evita erro de referência
                this.search.players.destroy.requesting = true;
                this.$set(this.manage.game.show.game.players[player.id], 'destroying', this.search.players.destroy.requesting);
                this.$http.delete(`game/${game.id}/player/${player.id}`).then((response) => {
                    this.$delete(this.manage.game.show.game.players, player.id);
                    this.$toast.open({
                        message: `Tudo certo! ${name} foi removido(a) do jogo ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao remover ${player.name} do jogo`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.search.players.destroy.requesting = false;
                    if (_.has(this.manage.game.show.game.players, `${player.id}.destroying`)) {
                        this.$delete(this.manage.game.show.game.players[player.id], 'destroying');
                    }
                });
            },
        },
        mounted() {
            this.show(this.$route.params.game);
        },
    };
</script>

<template>
  <div class="game">
    <!-- HEADER -->
    <section class="hero is-small is-dark m-5 rounded">
      <div class="hero-body">
        <div class="container">
          <p class="title">#{{manage.game.show.game.id}} / {{manage.game.show.game.title}}</p>
          <p class="subtitle">{{manage.game.show.game.description}}</p>
          <div class="border-bottom border-warning"></div>
          <div class="row mt-3">
            <div class="col-12 col-md-4 col-lg-5 col-xl-4">
              <p class="title">{{_.size(manage.game.show.game.players)}} Jogadores</p>
            </div>
            <div class="col-12 col-md-4 col-lg-5 col-xl-4">
              <p class="title">{{_.size(manage.game.show.game.medals)}} Medalhas</p>
            </div>
            <div class="col-12 col-md-4 col-lg-5 col-xl-4">
              <p class="title">{{_.size(manage.game.show.game.phases)}} Fases</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ANIMAÇÃO DE CARREGAMENTO -->
    <div class="has-text-centered" v-show="manage.game.show.requesting">
      <div class="loader-inner pacman d-inline-block">
        <div v-for="i in 5" v-bind:key="i"></div>
      </div>
    </div>
    <!-- TODAS AS INFORMAÇÕES SOBRE O JOGO -->
    <div class="m-5" v-show="!manage.game.show.requesting">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <p class="title">...</p>
              <div class="content">
                <div class="buttons">
                  <button class="button is-dark" v-show="!manage.game.update.form"
                          @click="manage.game.update.form=true">
                    <b-icon icon="circle-edit-outline" size="is-large"></b-icon>
                    <span class="ml-4">Editar informações do jogo</span>
                  </button>
                  <button class="button is-warning" @click="remove(manage.game.show.game)">
                    <b-icon icon="delete-circle" size="is-large"></b-icon>
                    <span class="ml-3">Remover</span>
                  </button>
                </div>
                <!-- FORMULÁRIO PARA EDITAR JOGO -->
                <form class="game-edit" v-show="manage.game.update.form"
                      v-on:submit.prevent="update(manage.game.show.game)">
                  <h1 class="title is-2">Editando jogo ...</h1>
                  <!-- Title -->
                  <div class="field">
                    <div class="control">
                      <input class="input is-large" type="text" placeholder="Título do jogo"
                             v-model="manage.game.update.model.title"
                             v-bind:disabled="manage.game.update.requesting">
                    </div>
                  </div>
                  <!-- Description -->
                  <textarea class="textarea" placeholder="Descrição do jogo"
                            v-model="manage.game.update.model.description"
                            v-bind:disabled="manage.game.update.requesting"></textarea>
                  <!-- Actions -->
                  <div class="buttons mt-4" v-show="!manage.game.update.requesting">
                    <button type="button" class="button" @click="manage.game.update.form=false">
                      Ops! Quero cancelar
                    </button>
                    <button type="submit" class="button is-primary">Ok! Pode atualizar</button>
                  </div>
                  <!-- ANIMAÇÃO DE CARREGAMENTO -->
                  <div class="loading mt-4 ml-5" v-show="manage.game.update.requesting">
                    <div class="loader-inner pacman">
                      <div v-for="i in 5" v-bind:key="i"></div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="border-bottom border-light mb-5"></div>
              <p class="subtitle">Ranking do jogo por grupo</p>
              <div class="content">...</div>
              <p class="subtitle">Ranking do jogo por jogador</p>
              <div class="content">...</div>
            </article>
          </div>
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification">
                <p class="title">Fases</p>
                <p class="subtitle">Fases para este jogo</p>
                <div class="border-bottom border-light mb-4"></div>
                <div class="buttons">
                  <button class="button is-warning" v-show="!manage.game.phase.store.form"
                          @click="manage.game.phase.store.form=true">
                    <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
                    <span class="ml-4">Adicionar</span>
                  </button>
                </div>
                <div class="game-phases-create mb-5" v-show="manage.game.phase.store.form">
                  <!-- FORMULÁRIO PARA CRIAÇÃO DE UMA NOVA FASE -->
                  <form class="game-phases-create-form" v-on:submit.prevent="phaseStore(manage.game.show.game)">
                    <p class="subtitle">Adicionado fase ao jogo ...</p>
                    <!-- Title -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-medium" type="text" placeholder="Título da fase"
                               v-model="manage.game.phase.store.model.name"
                               v-bind:disabled="manage.game.phase.store.requesting">
                      </div>
                    </div>
                    <!-- Data inicial -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-medium" type="text" placeholder="Data inicial Ex: 01/01/2050 07:00"
                               v-model="manage.game.phase.store.model.f"
                               v-bind:disabled="manage.game.phase.store.requesting"
                               v-mask="'##/##/#### ##:##'">
                      </div>
                    </div>
                    <!-- Data final -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-medium" type="text" placeholder="Data final Ex: 01/01/2051 22:00"
                               v-model="manage.game.phase.store.model.t"
                               v-bind:disabled="manage.game.phase.store.requesting"
                               v-mask="'##/##/#### ##:##'">
                      </div>
                    </div>
                    <!-- Actions -->
                    <div class="buttons mt-4" v-show="!manage.game.phase.store.requesting">
                      <button type="button" class="button" @click="manage.game.phase.store.form=false">
                        Ops! Quero cancelar
                      </button>
                      <button type="submit" class="button is-primary">Ok! Pode adicionar</button>
                    </div>
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.game.phase.store.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="border-bottom border-light"></div>
                <div class="content">
                  <ul class="game-phases">
                    <li class="game-phases-phase" v-for="phase in manage.game.show.game.phases">
                      <router-link
                              v-bind:to="{name:'game.phase.show',params:{game:manage.game.show.game.id,phase:phase.id}}">
                        <b-icon icon="layers"></b-icon>
                        {{phase.name}}
                      </router-link>
                    </li>
                  </ul>
                </div>
              </article>
              <article class="tile is-child notification">
                <p class="title">Pontos</p>
                <p class="subtitle">...</p>
                <div class="content"></div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-white">
                <p class="title">Medalhas</p>
                <p class="subtitle">Medalhas disponíveis para este jogo</p>
                <div class="border-bottom border-light mb-4"></div>
                <div class="buttons">
                  <button class="button is-link" @click="search.medals.form=!search.medals.form">
                    <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
                    <span class="ml-4">{{search.medals.form?'Cancelar':'Adicionar'}}</span>
                  </button>
                </div>
                <!-- PESQUISA POR MEDALHAS -->
                <transition name="fade">
                  <div class="game-medals-search" v-if="search.medals.form">
                    <!-- CAMPO DE PESQUISA PARA MEDALHAS -->
                    <b-field>
                      <div class="control">
                        <button class="button is-white border-0 pr-4"
                                v-bind:disabled="search.medals.requesting||search.medals.store.requesting">
                          <b-icon icon="seal" size="is-large"></b-icon>
                        </button>
                      </div>
                      <b-input placeholder="Nome ..." type="search" expanded
                               v-model="search.medals.value"
                               v-bind:disabled="search.medals.requesting||search.medals.store.requesting"></b-input>
                      <p class="control">
                        <button class="button"
                                v-bind:disabled="search.medals.requesting||search.medals.store.requesting"
                                @click="medalSearch">
                          <span v-show="!search.medals.requesting">Pesquisar</span>
                          <div class="loader-inner ball-scale-multiple" v-show="search.medals.requesting">
                            <div v-for="i in 3" v-bind:key="i"></div>
                          </div>
                        </button>
                      </p>
                    </b-field>
                    <div class="row m-0 mt-5">
                      <!-- ANIMAÇÃO DE CARREGAMENTO -->
                      <div class="loading mt-4 mb-4 ml-5" v-show="search.medals.store.requesting">
                        <div class="loader-inner pacman">
                          <div v-for="i in 5" v-bind:key="i"></div>
                        </div>
                      </div>
                      <!-- RESULTADO DA PESQUISA POR MEDALHAS -->
                      <transition-group name="slide" tag="div">
                        <div class="col-12 border-left pt-4 mb-4" v-show="!search.medals.store.requesting"
                             v-for="m in search.medals.found" v-bind:key="m.id">
                          <div class="buttons mb-0">
                            <button class="button is-small is-light rounded"
                                    @click="medalStore(manage.game.show.game, m)">
                              <b-icon icon="plus-circle-outline" size="is-medium"></b-icon>
                              <span class="ml-2">Adicionar medalha</span>
                            </button>
                          </div>
                          <p>{{m.title}}</p>
                        </div>
                      </transition-group>
                    </div>
                  </div>
                </transition>
                <div class="border-bottom border-light"></div>
                <transition-group name="slide" tag="div" class="game-medals row mt-5">
                  <div class="game-medals-medal col-6 col-md-3 col-lg-3 col-xl-3"
                       v-for="medal in manage.game.show.game.medals" v-bind:key="medal.id">
                    <div class="mb-3" v-bind:class="{'vibrate-2-infinite':medal.destroying}">
                      <img class="game-medals-medal-image" :src="medal.url" :title="medal.title"
                           @click="medalRemove(manage.game.show.game, medal)">
                      <span class="has-text-danger" v-show="medal.destroying">destruindo ...</span>
                    </div>
                  </div>
                </transition-group>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <div class="content">
              <p class="title">Jogadores</p>
              <p class="subtitle">Jogadores que estão participando deste jogo</p>
              <div class="border-bottom border-light mb-4"></div>
              <div class="buttons">
                <button class="button is-warning" @click="search.players.form=!search.players.form">
                  <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
                  <span class="ml-4">{{search.players.form?'Cancelar':'Adicionar'}}</span>
                </button>
              </div>
              <!-- PESQUISA POR JOGADORES -->
              <transition name="fade">
                <div class="game-medals-search" v-if="search.players.form">
                  <!-- CAMPO DE PESQUISA PARA JOGADORES -->
                  <b-field>
                    <div class="control">
                      <button class="button is-white border-0 pr-4"
                              v-bind:disabled="search.players.requesting||search.players.store.requesting">
                        <b-icon icon="account-search-outline" size="is-large"></b-icon>
                      </button>
                    </div>
                    <b-input placeholder="Pesquisa por nome ou email ..." type="search" expanded
                             v-model="search.players.value"
                             v-bind:disabled="search.players.requesting||search.players.store.requesting"></b-input>
                    <div class="control">
                      <button class="button"
                              v-bind:disabled="search.players.requesting||search.players.store.requesting"
                              @click="playerSearch">
                        <span v-show="!search.players.requesting">Pesquisar</span>
                        <div class="loader-inner ball-scale-multiple" v-show="search.players.requesting">
                          <div v-for="i in 3" v-bind:key="i"></div>
                        </div>
                      </button>
                    </div>
                  </b-field>
                  <div class="row m-0 mt-5">
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 mb-4 ml-5" v-show="search.players.store.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                    <!-- RESULTADO DA PESQUISA POR JOGADORES -->
                    <transition-group name="slide" tag="div">
                      <div class="col-12 border-left pt-4 mb-4" v-show="!search.players.store.requesting"
                           v-for="p in search.players.found" v-bind:key="p.id">
                        <div class="buttons mb-0">
                          <button class="button is-small is-light rounded"
                                  @click="playerStore(manage.game.show.game, p)">
                            <b-icon icon="plus-circle-outline" size="is-medium"></b-icon>
                            <span class="ml-2">Adicionar jogador</span>
                          </button>
                        </div>
                        <p>{{p.name}}</p>
                      </div>
                    </transition-group>
                  </div>
                </div>
              </transition>
              <div class="border-bottom border-light"></div>
              <div class="content">
                <transition-group name="slide" tag="ul" class="game-players">
                  <li class="game-players-player" v-for="player in manage.game.show.game.players"
                      v-bind:key="player.id" @click="playerRemove(manage.game.show.game, player)">
                    <div v-bind:class="{'vibrate-2-infinite':player.destroying}">
                      <b-icon icon="account-circle"></b-icon>
                      {{player.name}}
                      <span class="has-text-danger" v-show="player.destroying">destruindo ...</span>
                    </div>
                  </li>
                </transition-group>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>
