/*
|--------------------------------------------------------------------------
| TAGS
|--------------------------------------------------------------------------
|
|  Nessa parte devem ser definidas as propriedades que serão comum a todas
|  os elementos 'tags', em ordem alfabética.
|
*/

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden !important;
}

body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Sniglet', cursive !important;
}


body * {
  font-family: 'Sniglet', cursive !important;
}

hr {
  margin: 0.5rem 0 !important;
}

input,
textarea {
  border: none !important;
}