// Colors

$black: hsl(0, 0%, 4%) !default$black-bis: hsl(0, 0%, 7%) !default$black-ter: hsl(0, 0%, 14%) !default$grey-darker: hsl(0, 0%, 21%) !default$grey-dark: hsl(0, 0%, 29%) !default$grey: hsl(0, 0%, 48%) !default$grey-light: hsl(0, 0%, 71%) !default$grey-lighter: hsl(0, 0%, 86%) !default$white-ter: hsl(0, 0%, 96%) !default$white-bis: hsl(0, 0%, 98%) !default$white: hsl(0, 0%, 100%) !default$orange: hsl(14, 100%, 53%) !default$yellow: hsl(48, 100%, 67%) !default$green: hsl(141, 71%, 48%) !default$turquoise: hsl(171, 100%, 41%) !default$cyan: hsl(204, 86%, 53%) !default$blue: hsl(217, 71%, 53%) !default$purple: hsl(271, 100%, 71%) !default$red: hsl(348, 100%, 61%) !default// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: .90rem !default;
$radius-large: 6px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #16161D;
$primary-invert: findColorInvert($primary);
$twitter: #888;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert)
);
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

//@import "~bulma/sass/elements/box";
//@import "~bulma/sass/elements/button";
//@import "~bulma/sass/elements/container";
//@import "~bulma/sass/elements/content";
//@import "~bulma/sass/elements/form";
// Variáveis do arquivo acima !!!
$input-color: $grey-darker !default;
$input-background-color: $white !default;
$input-border-color: $grey-lighter !default;
$input-height: $control-height !default;
$input-shadow: inset 0 0px 0px rgba($black, 0.1) !default;
$input-placeholder-color: rgba($input-color, 0.5) !default;
$input-hover-color: $grey-darker !default;
$input-hover-border-color: $grey-dark !default;
$input-focus-color: $white !default;
$input-focus-border-color: $dark !default;
$input-focus-box-shadow-size: 0 0 0 0.0em !default;
$input-focus-box-shadow-color: rgba($dark, 0.25) !default;
$input-disabled-color: $text-light !default;
$input-disabled-background-color: $background !default;
$input-disabled-border-color: $background !default;
$input-disabled-placeholder-color: rgba($input-disabled-color, 0.3) !default;
$input-arrow: $link !default;
$input-icon-color: $grey-lighter !default;
$input-icon-active-color: $grey !default;
$input-radius: $radius !default;
$file-border-color: $border !default;
$file-radius: $radius !default;
$file-cta-background-color: $white-ter !default;
$file-cta-color: $grey-dark !default;
$file-cta-hover-color: $grey-darker !default;
$file-cta-active-color: $grey-darker !default;
$file-name-border-color: $border !default;
$file-name-border-style: solid !default;
$file-name-border-width: 1px 1px 1px 0 !default;
$file-name-max-width: 16em !default;
$label-color: $grey-darker !default;
$label-weight: $weight-bold !default;
$help-size: $size-small !default;
//@import "~bulma/sass/elements/icon";
//@import "~bulma/sass/elements/image";
//@import "~bulma/sass/elements/notification";
//@import "~bulma/sass/elements/progress";
//@import "~bulma/sass/elements/table";
//@import "~bulma/sass/elements/tag";
//@import "~bulma/sass/elements/title";
//@import "~bulma/sass/elements/other";

@import "~bulma";
@import '~buefy/src/scss/buefy';


.upload {
  width: 100%;

  &-draggable {
    width: 100% !important;
    border: 0 !important;
  }
}