<template>
  <div class="phase">
    <!-- HEADER -->
    <section class="hero is-small is-dark m-5 rounded">
      <div class="hero-body">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-auto col-lg-auto col-xl-auto">

            </div>
            <div class="col-12 col-md col-lg col-xl">
              <div class="mt-sm-2">
                <p class="title">{{phase.show.phase.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ANIMAÇÃO DE CARREGAMENTO -->
    <div class="m-5 text-center" v-show="phase.show.requesting">
      <div class="loading">
        <div class="loader-inner pacman d-inline-block">
          <div v-for="i in 5" v-bind:key="i"></div>
        </div>
      </div>
    </div>
    <!-- DETALHES DA FASE -->
    <div class="m-5">
      <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child bg-white rounded">
            <div class="p-4">
              <div class="buttons mb-0">
                <button class="button is-warning" v-show="!phase.update.form"
                        @click="phase.update.form=true">
                  <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
                  <span class="ml-4">Atualizar informações</span>
                </button>
              </div>
              <div v-show="phase.update.form">
                <!-- FORMULÁRIO PARA CRIAÇÃO DE UMA NOVA FASE -->
                <form class="slide-bottom" v-on:submit.prevent="phaseUpdate(phase.show.phase)">
                  <p class="subtitle">Atualizando informações da fase ...</p>
                  <!-- Title -->
                  <div class="field">
                    <div class="control">
                      <input class="input" type="text" placeholder="Título da fase"
                             v-model="phase.update.model.name"
                             v-bind:disabled="phase.update.requesting">
                    </div>
                  </div>
                  <!-- Data inicial -->
                  <div class="field">
                    <div class="control">
                      <input class="input" type="text" placeholder="Data inicial Ex: 01/01/2050 07:00"
                             v-model="phase.update.model.from"
                             v-bind:disabled="phase.update.requesting"
                             v-mask="'##/##/#### ##:##'">
                    </div>
                  </div>
                  <!-- Data final -->
                  <div class="field">
                    <div class="control">
                      <input class="input" type="text" placeholder="Data final Ex: 01/01/2051 22:00"
                             v-model="phase.update.model.to"
                             v-bind:disabled="phase.update.requesting"
                             v-mask="'##/##/#### ##:##'">
                    </div>
                  </div>
                  <!-- Actions -->
                  <div class="buttons mt-4" v-show="!phase.update.requesting">
                    <button type="button" class="button" @click="phase.update.form=false">
                      Ops! Quero cancelar
                    </button>
                    <button type="submit" class="button is-primary">Ok! Pode atualizar</button>
                  </div>
                  <!-- ANIMAÇÃO DE CARREGAMENTO -->
                  <div class="loading mt-4 ml-5" v-show="phase.update.requesting">
                    <div class="loader-inner pacman">
                      <div v-for="i in 5" v-bind:key="i"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tile is-child box">
            <p class="title">Two</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
              vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Grupos</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PhaseShow',
  data() {
    return {
      phase: {
        show: {
          requesting: false,
          phase: {},
        },
        update: {
          requesting: false,
          form: false,
          model: {},
          errors: {},
        },
      },
    };
  },
  methods: {
    show(game, phase) {
      this.$http.get(`game/${game}/phase/${phase}`, {
        transformRequest: [
          (data, headers) => {
            this.phase.show.requesting = true; // Requisição em andamento ...
            return data;
          },
        ],
      }).then((response) => {
        this.phase.show.medal = response.data ? (response.data.data ? response.data.data : {}) : {};
      }).catch((e) => {
        this.$toast.open({
          duration: 5000,
          message: 'Ops! Não consigo exibir detalhes desta fase',
          position: 'is-bottom',
          type: 'is-danger',
          queue: false,
        });
      }).finally(() => {
        this.phase.show.requesting = false; // Requisição finalizada ...
      });
    },
  },
  mounted() {
    this.show(this.$route.params.game, this.$route.params.phase);
  },
};
</script>

<style scoped>

</style>
