<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>GiC - Game In Class</title>
  <!-- Material Design Icons CDN -->
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
</head>
<body>
<noscript>
  <strong>
    Desculpe =/, Mas esta aplicação não funcionado corretamente com Javascript o desativado.
  </strong>
</noscript>
<div id="app"></div>
</body>
</html>
