<style lang="scss" scoped>
  .medal {
    &__image {
      max-width: 150px;
    }

    &__update {
      &__form {
        &__image {
          margin-right: auto !important;
          margin-left: auto !important;
          width: 100%;
          max-width: 150px;
          display: block;
        }
      }
    }
  }
</style>

<script>
    export default {
        name: 'MedalShow',
        data() {
            return {
                preview: undefined,
                file: undefined,
                manage: {
                    medal: {
                        show: {
                            requesting: false,
                            medal: {
                                games: {},
                                players: {},
                            },
                        },
                        update: {
                            requesting: false,
                            form: false,
                            model: {},
                            errors: {},
                        },
                        destroy: {
                            requesting: false,
                        },
                    },
                },
            };
        },
        methods: {
            show(medal) {
                this.$http.get(`medal/${medal}`, {
                    transformRequest: [
                        (data, headers) => {
                            this.manage.medal.show.requesting = true; // Requisição em andamento ...
                            return data;
                        },
                    ],
                }).then((response) => {
                    this.manage.medal.show.medal = response.data ? (response.data.data ? response.data.data : {}) : {};
                    // Adiciona informações para o formulário de edição.
                    // Clone Deep evita que o objeto seja somente uma referência.
                    this.manage.medal.update.model = _.cloneDeep(this.manage.medal.show.medal);
                    this.preview = this.manage.medal.update.model.url;
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Não consigo exibir detalhes da medalha',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.medal.show.requesting = false; // Requisição finalizada ...
                });
            },
            update(medal) {
                // Cria um novo objeto FormData.
                const _formData = new FormData();
                _formData.append('_method', 'put');
                _formData.append('title', this.manage.medal.update.model.title);
                _formData.append('description', this.manage.medal.update.model.description);
                if (this.file) { // Verifica se o arquivo foi alterado ...
                    _formData.append('image', this.file);
                }
                this.$http.post(`medal/${medal.id}`, _formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                    transformRequest: [
                        (data, headers) => {
                            this.manage.medal.update.requesting = true; // Requisição em andamento ...
                            return data;
                        },
                    ],
                }).then((response) => {
                    this.manage.medal.show.medal = response.data ? (response.data ? response.data.data : {}) : {};
                    this.$toast.open({
                        message: 'Tudo certo! Medalha atualizada ...',
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.manage.medal.update.errors = e.response ? (e.response.data ? e.response.data.errors : {}) : {};
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro ao adicionar a medalha',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.medal.update.requesting = false; // Requisição finalizada ...
                });
            },
            remove(medal) {
                this.$snackbar.open({
                    duration: 5000,
                    message: `Deseja remover ${medal.title} do jogo?`,
                    type: 'is-danger',
                    position: 'is-top',
                    actionText: 'Sim! Quero remover',
                    queue: false,
                    onAction: () => {
                        this.destroy(medal)
                    },
                });
            },
            destroy(medal) {
                const {title} = medal; // Evita erro de referência
                this.$http.delete(`medal/${medal.id}`, {
                    transformRequest: [
                        (data, headers) => {
                            this.manage.medal.destroy.requesting = true; // Requisição em andamento ...
                            return data;
                        },
                    ],
                }).then((response) => {
                    this.$router.push({name: 'medal.index'});
                    this.$toast.open({
                        message: `Tudo certo! ${title} foi removido(a) ...`,
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: `Ops! Houve um erro ao remover ${medal.title}`,
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.medal.destroy.requesting = false;
                });
            },
        },
        watch: {
            file(n, o) {
                const reader = new FileReader();
                reader.onload = (ev) => {
                    this.preview = ev.target.result;
                };
                reader.readAsDataURL(n);
            },
        },
        mounted() {
            this.show(this.$route.params.medal);
        },
    };
</script>

<template>
  <!-- Begin tiles -->
  <div class="container pt-5 pb-5" v-bind:class="{'vibrate-2-infinite':manage.medal.destroy.requesting}">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="loading ml-4" v-show="manage.medal.show.requesting">
            <div class="loader-inner pacman d-inline-block">
              <div v-for="i in 5" v-bind:key="i"></div>
            </div>
          </div>
          <p class="title" v-if="manage.medal.destroy.requesting">
            <span class="has-text-danger">Destruindo ...</span>
          </p>
          <p class="title">
            <img class="medal__image" v-bind:src="manage.medal.show.medal.url"
                 v-bind:title="manage.medal.show.medal.title">
            {{manage.medal.show.medal.title}}
          </p>
          <div class="content">
            <div class="buttons">
              <button class="button is-dark" @click="manage.medal.update.form=true">
                <b-icon icon="pencil-circle" size="is-large"></b-icon>
                <span class="ml-3">{{manage.medal.update.form ? 'Editando ...': 'Editar'}}</span>
              </button>
              <button class="button is-dark" @click="remove(manage.medal.show.medal)">
                <b-icon icon="delete-circle" size="is-large"></b-icon>
                <span class="ml-3">Remover</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <transition name="slide">
          <div class="tile" v-if="manage.medal.update.form">
            <div class="tile is-parent">
              <article class="tile is-child notification is-info p-4">
                <p class="title">Editar informações</p>
                <div class="content">
                  <form v-if="manage.medal.update.form" v-on:submit.prevent="update(manage.medal.show.medal)">
                    <!-- Title -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-large" type="text" placeholder="Título da medalha"
                               v-model="manage.medal.update.model.title"
                               v-bind:disabled="manage.medal.update.requesting">
                      </div>
                    </div>
                    <!-- Description -->
                    <textarea class="textarea" placeholder="Descrição da medalha"
                              v-model="manage.medal.update.model.description"
                              v-bind:disabled="manage.medal.update.requesting"></textarea>
                    <!-- Imagem -->
                    <div class="row align-items-center border border-white rounded m-0 mt-3">
                      <div class="col-6 pt-2">
                        <b-field>
                          <b-upload v-model="file"
                                    v-bind:disabled="manage.medal.update.requesting" drag-drop>
                            <section class="section">
                              <div class="content has-text-centered">
                                <p>
                                  <b-icon icon="upload" size="is-large"></b-icon>
                                </p>
                                <p>Arraste e solte</p>
                              </div>
                            </section>
                          </b-upload>
                        </b-field>
                      </div>
                      <div class="col-6">
                        <img class="medal__update__form__image" v-if="preview" v-bind:src="preview">
                      </div>
                      <div class="col-12">
                        <i class="m-1" v-if="file">{{file.name}}</i>
                      </div>
                    </div>
                    <!-- Actions -->
                    <div class="buttons mt-4" v-show="!manage.medal.update.requesting">
                      <button type="button" class="button" @click="manage.medal.update.form=false">
                        Ops! Quero cancelar
                      </button>
                      <button type="submit" class="button is-info">Ok! Pode atualizar</button>
                    </div>
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.medal.update.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </article>
            </div>
          </div>
        </transition>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <div class="content" v-html="manage.medal.show.medal.description"></div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="content">
            <p class="title">Jogos</p>
            <p class="subtitle">
              Este medalha está vinculada a {{_.size(manage.medal.show.medal.games)}} jogo(s)
            </p>
            <div class="content">

            </div>
            <p class="title">Jogadores</p>
            <p class="subtitle">
              Esta medalha está vinculada a {{_.size(manage.medal.show.medal.players)}} jogadore(s)
            </p>
            <div class="content">

            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- End tiles -->
</template>
