<style lang="scss" scoped>
  form {
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .preview {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100%;
    max-width: 150px;
    display: block;
  }

  .image {
    min-width: 80px;
    max-width: 150px;
    width: 100%;
    display: inline-block;
  }
</style>

<script>
    import BIcon from "buefy/src/components/icon/Icon";

    export default {
        name: 'MedalIndex',
        components: {BIcon},
        data() {
            return {
                preview: undefined,
                file: {},
                manage: {
                    medal: {
                        index: {
                            requesting: false,
                            medals: {}
                        },
                        store: {
                            requesting: false,
                            form: false,
                            model: {
                                title: '',
                                description: '',
                            },
                            errors: {},
                        },
                    },
                },
            };
        },
        mounted() {
            this.index();
        },
        methods: {
            index() {
                this.$http.get('medal', {
                    transformRequest: [
                        (data, headers) => {
                            this.manage.medal.index.requesting = true; // Requisição em andamento ...
                            return data;
                        },
                    ],
                }).then((response) => {
                    this.manage.medal.index.medals = response.data ? (response.data ? response.data.data : {}) : {};
                }).catch((e) => {
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro, não consigo exibir as medalhas',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.medal.index.requesting = false; // Requisição finalizada ...
                });
            },
            store() {
                // Converte os dados para o formato multipart/form-data
                const _formData = new FormData();
                _formData.append('title', this.manage.medal.store.model.title);
                _formData.append('description', this.manage.medal.store.model.description);
                _formData.append('image', this.file);
                this.$http.post('medal', _formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                    transformRequest: [
                        (data, headers) => {
                            this.manage.medal.store.requesting = true; // Exibe a animação loader.
                            return data;
                        },
                    ],
                }).then((response) => {
                    const medal = response.data ? (response.data ? response.data.data : {}) : {};
                    this.manage.medal.store.model = {}; // Limpa o dados dos inputs do formulário.
                    this.$set(this.manage.medal.index.medals, `${medal.id}`, medal);
                    this.$toast.open({
                        message: 'Tudo certo! Medalha adicionada ...',
                        type: 'is-success',
                    });
                }).catch((e) => {
                    this.manage.medal.store.errors = e.response ? (e.response.data ? e.response.data.errors : {}) : {};
                    this.$toast.open({
                        duration: 5000,
                        message: 'Ops! Houve um erro ao adicionar a medalha',
                        position: 'is-bottom',
                        type: 'is-danger',
                        queue: false,
                    });
                }).finally(() => {
                    this.manage.medal.store.requesting = false; // Exibe a animação loader.
                });
            },
        },
        watch: {
            file(n, o) {
                const reader = new FileReader();
                reader.onload = (ev) => {
                    this.preview = ev.target.result;
                };
                reader.readAsDataURL(n);
            },
        },
    };
</script>

<template>
  <!-- Begin tiles -->
  <div class="container pt-5 pb-5">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-3 is-white">
        <article class="tile is-child notification is-white">
          <h1 class="title">{{_.size(manage.medal.index.medals)}}</h1>
          <div class="buttons">
            <button class="button is-success" v-if="!manage.medal.store.form" @click="manage.medal.store.form=true">
              <b-icon icon="plus-circle-outline" size="is-large"></b-icon>
              <span class="ml-3">medalha</span>
            </button>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Medalha(s)</p>
          <p class="subtitle">Todas as medalhas disponível para utilização</p>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <transition name="slide">
          <div class="tile" v-if="manage.medal.store.form">
            <div class="tile is-parent">
              <article class="tile is-child notification is-success p-4">
                <p class="title">Nova medalha</p>
                <div class="content">
                  <form v-on:submit.prevent="store">
                    <!-- Title -->
                    <div class="field">
                      <div class="control">
                        <input class="input is-large" type="text" placeholder="Título da medalha"
                               v-model="manage.medal.store.model.title"
                               v-bind:disabled="manage.medal.store.requesting">
                      </div>
                    </div>
                    <!-- Description -->
                    <textarea class="textarea" placeholder="Descrição da medalha"
                              v-model="manage.medal.store.model.description"
                              v-bind:disabled="manage.medal.store.requesting"></textarea>
                    <!-- Imagem -->
                    <div class="row align-items-center border border-white rounded m-0 mt-3">
                      <div class="col-6 pt-2">
                        <b-field>
                          <b-upload v-model="file"
                                    v-bind:disabled="manage.medal.store.requesting" drag-drop>
                            <section class="section">
                              <div class="content has-text-centered">
                                <p>
                                  <b-icon icon="upload" size="is-large"></b-icon>
                                </p>
                                <p>Arraste e solte</p>
                              </div>
                            </section>
                          </b-upload>
                        </b-field>
                      </div>
                      <div class="col-6">
                        <transition name="fade">
                          <img class="preview m-2" v-if="preview" v-bind:src="preview">
                        </transition>
                      </div>
                      <div class="col-12">
                        <i class="m-1">{{file.name}}</i>
                      </div>
                    </div>
                    <!-- Actions -->
                    <div class="buttons mt-4" v-show="!manage.medal.store.requesting">
                      <button type="button" class="button" @click="manage.medal.store.form=false">
                        Ops! Quero cancelar
                      </button>
                      <button type="submit" class="button is-dark">Ok! Pode salvar</button>
                    </div>
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.medal.store.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </article>
            </div>
          </div>
        </transition>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <p class="title"></p>
              <p class="subtitle"></p>
              <div class="content">
                <div class="row">
                  <div class="col-12">
                    <!-- ANIMAÇÃO DE CARREGAMENTO -->
                    <div class="loading mt-4 ml-5" v-show="manage.medal.index.requesting">
                      <div class="loader-inner pacman">
                        <div v-for="i in 5" v-bind:key="i"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 col-xl-6"
                       v-for="medal in _.orderBy(manage.medal.index.medals, 'id', 'desc')" v-bind:key="medal.id">
                    <div class="p-2 mb-5">
                      <img class="image" v-bind:src="medal.url" v-bind:title="medal.title">
                      <router-link v-bind:to="{name: 'medal.show', params: { medal: medal.id } }">
                        <h3 class="title is-3 d-inline-block">
                          {{medal.title}}
                          <b-icon icon="arrow-right"></b-icon>
                        </h3>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div class="content">
            <p class="title">Ajuda</p>
            <p class="subtitle">Para que serve a medalha?</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at
                pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
                maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
              <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor
                consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a
                nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- End tiles -->
</template>
