<template>
  <canvas id="bit"></canvas>
</template>

<script>
export default {
  name: 'Bit',
  methods: {
    bit() {
      window.requestAnimFrame = (function () {
        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (a) {
          window.setTimeout(a, 1E3 / 60);
        };
      }());

      const c = document.getElementById('bit');
      const ctx = c.getContext('2d');
      const cw = c.width = window.innerWidth;
      const ch = c.height = window.innerHeight;
      const rand = function (a, b) {
        return ~~((Math.random() * (b - a + 1)) + a);
      };
      const plusses = [];
      const count = 150;
      let tick = 5;
      const tickMax = 10;

      const Plus = function () {
        this.init();
      };

      Plus.prototype.init = function () {
        this.x = cw / 2;
        this.y = ch * 0.4;
        this.vx = (rand(0, 100) - 50) / 6;
        this.vy = -(rand(50, 100)) / 8;
        this.lightness = rand(0, 200);
        this.alpha = 0.2;
        this.fade = 0.015;
        this.scale = 1;
        this.growth = 0.15;
        this.rotation = rand(0, Math.PI * 2);
        this.spin = (rand(0, 100) - 50) / 1500;
      };

      Plus.prototype.update = function (i) {
        this.x += this.vx;
        this.y += this.vy;
        this.vy += 0.15 * this.scale;
        if (this.alpha < 1) {
          this.alpha += this.fade;
        }
        this.scale += this.growth;
        this.rotation += this.spin;

        if (this.y - 30 >= ch) {
          this.init();
        }
      };

      Plus.prototype.render = function () {
        ctx.save();
        ctx.translate(this.x, this.y);
        ctx.scale(this.scale, this.scale);
        ctx.rotate(this.rotation);

        ctx.fillStyle = `hsla(0, 0%, ${this.lightness}%, ${this.alpha})`;
        ctx.beginPath();
        ctx.rect(-3, -1, 6, 2);
        ctx.rect(-1, -3, 2, 6);
        ctx.fill();
        ctx.restore();
      };

      const createPlusses = function () {
        if (plusses.length < count) {
          if (tick >= tickMax) {
            plusses.push(new Plus());
            tick = 0;
          } else {
            tick++;
          }
        }
      };

      const updatePlusses = function () {
        let i = plusses.length;
        while (i--) {
          plusses[i].update(i);
        }
      };

      const renderPlusses = function () {
        let i = plusses.length;
        while (i--) {
          plusses[i].render();
        }
      };

      var loop = function () {
        requestAnimFrame(loop);
        ctx.clearRect(0, 0, cw, ch);
        createPlusses();
        updatePlusses();
        renderPlusses();
      };

      loop();
    },
  },
  mounted() {
    this.bit();
  },
};
</script>

<style scoped>
  canvas {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
  }
</style>
