<template>
  <div class="box">
    <div class="box__top">
      <div class="box__top__content">
        <slot name="top"></slot>
      </div>
    </div>
    <div class="box__middle">
      <div class="box__middle__content">
        <slot name="middle"></slot>
      </div>
    </div>
    <div class="box__bottom">
      <div class="box__bottom__content">
        <slot name="bottom"></slot>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Box',
  components: {},
};
</script>

<style lang="scss" scoped>
  .box {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    table-layout: fixed;
    box-shadow: none;
    display: table;
    position: relative;

    &__top,
    &__middle,
    &__bottom {
      width: 100%;
      display: table-row;
      overflow: hidden;

      &__content {
        vertical-align: middle;
        display: table-cell;
        position: relative;
      }
    }

    &__top {
      &__content {

      }
    }

    &__middle {
      height: 100%;
    }
  }
</style>
