<script>
    export default {
        name: "Footer"
    }
</script>

<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Game In Class</strong> by <a href="https://jgthms.com">Jorge Rodrigues</a>.
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</template>