<style lang="scss">
  @import 'assets/styles/app';

  #app {
    height: 100%;
  }

  .main {
    height: 100%;

    &-left {
      background-color: white;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
      text-align: center;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        & {

        }
      }

      &-menu {
        max-width: 4rem;
        height: 100%;

        &-item {
          &-link {
            margin-top: 10px;
            margin-bottom: 10px;
            display: inline-block;

            &.router-link-exact-active {
              color: #eee;
            }
          }
        }
      }
    }

    &-right {
      position: relative;

      &-content {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: auto;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          & {

          }
        }

      }
    }
  }
</style>

<script>
    import BIcon from 'buefy/src/components/icon/Icon';

    export default {
        name: 'App',
        components: {BIcon},
        methods: {
            move(e) {

            }
        },
        beforeMount() {
            // `onUploadProgress` allows handling of progress events for uploads
            this.$http.defaults.onUploadProgress = (progressEvent) => {
                // console.log(progressEvent);
            };
            // `onDownloadProgress` allows handling of progress events for downloads
            this.$http.defaults.onDownloadProgress = (progressEvent) => {
                // console.log(progressEvent);
            };
            // `transformRequest` allows changes to the request data before it is sent to the server
            // This is only applicable for request methods 'PUT', 'POST', and 'PATCH'
            // The last function in the array must return a string or an instance of Buffer, ArrayBuffer,
            // FormData or Stream
            // You may modify the headers object.
            this.$http.defaults.transformRequest = [].concat(this.$http.defaults.transformRequest, (data, headers) => {
                return data;
            });
            // `transformResponse` allows changes to the response data to be made before
            // it is passed to then/catch
            this.$http.defaults.transformResponse = [].concat(this.$http.defaults.transformResponse, (response) => {
                return response;
            });
        },
    };
</script>

<template>
  <div class="main row align-items-stretch m-0 p-0">
    <div class="main-left col-auto">
      <div class="main-left-menu row m-0">
        <div class="main-left-menu-item col-12 align-self-start p-0">
          <router-link class="main-left-menu-item-link" to="/">
            <b-icon icon="menu" size="is-large"></b-icon>
          </router-link>
        </div>
        <div class="main-left-menu-item col-12 align-self-end p-0">
          <router-link class="main-left-menu-item-link" to="/profile">
            <b-icon icon="account-circle" size="is-large"></b-icon>
          </router-link>
        </div>
      </div>
    </div>
    <div class="main-right col">
      <div class="main-right-content" @scroll="move">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>


