<template>
  <div class="login bg-pan-left">
    <div class="login__row row align-items-center justify-content-center m-0">
      <div class="col-auto">
        <div class="buttons">
          <button class="login__row__buttons__button button is-medium is-dark">
            <b-icon icon="lock-open" size="is-large"></b-icon>
            <span class="ml-3">Login com a plataforma (GiC)</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Login',
    };
</script>

<style lang="scss" scoped>
  .login {
    height: 100%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__row {
      min-height: 100%;

      &__buttons {
        &__button {
          border-width: 3px !important;
        }
      }
    }
  }
</style>
